<div class="header">
    <h1 class="mat-h1">Offices</h1>
    <h3 class="mat-h3">Edit {{ office.name }}</h3>
    <span class="fill-remaining-space"></span>
    <button mat-raised-button color="accent" type="button" (click)="remove(office)">Remove</button>
</div>

<mat-divider></mat-divider>

<div class="container">
    <form [formGroup]="editForm" (ngSubmit)="update()">
        <mat-card>
            <div class="mat-card-header" *ngIf="isLoading">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <mat-card-content>
                <mat-form-field>
                    <input matInput type="text" placeholder="Name" formControlName="name">
                    <mat-error *ngIf="name.hasError('required')">
                        Name can not be empty
                    </mat-error>
                    <mat-error *ngIf="name.hasError('maxlength')">
                        Max length exceeded
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>User</mat-label>
                    <mat-select formControlName="user">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let user of users" [value]="user.id">{{user.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <ng-container *ngIf="badRequest">
                    <mat-error *ngFor="let error of badRequest.errors">
                        {{ error }}
                    </mat-error>
                </ng-container>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-flat-button type="button" [routerLink]="'/admin/offices/' + id">Cancel</button>
                <button mat-flat-button color="accent" type="submit" [disabled]="editForm.disabled">Update</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>