<div class="header">
    <h1 class="mat-h1">Users</h1>
    <h3 class="mat-h3">Edit {{ user.name }}</h3>
    <span class="fill-remaining-space"></span>
    <button mat-raised-button color="accent" type="button" routerLink="change-password">Change password</button>
    <button mat-raised-button color="accent" type="button" (click)="remove()">Remove</button>
</div>

<mat-divider></mat-divider>

<div class="container">
    <form [formGroup]="editForm" (ngSubmit)="update()">
        <mat-card>
            <div class="mat-card-header" *ngIf="isLoading">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <mat-card-content>
                <mat-form-field>
                    <input matInput type="text" placeholder="Name" formControlName="name">
                    <mat-error *ngIf="name.hasError('required')">
                        Name can not be empty
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" placeholder="Email" formControlName="email">
                    <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                        Email is not valid
                    </mat-error>
                    <mat-error *ngIf="email.hasError('required')">
                        Email can not be empty
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="type">
                        <mat-option [value]="userType.Office">Office</mat-option>
                        <mat-option [value]="userType.Report">Report</mat-option>
                        <mat-option [value]="userType.Admin">Admin</mat-option>
                    </mat-select>
                    <mat-error *ngIf="type.hasError('required')">
                        Type can not be empty
                    </mat-error>
                </mat-form-field>
                <mat-form-field [style.display]="this.type.value == userType.Office ? 'block' : 'none'">
                    <mat-label>Office</mat-label>
                    <mat-select formControlName="office">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let office of offices" [value]="office.id">{{office.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <ng-container *ngIf="badRequest">
                    <mat-error *ngFor="let error of badRequest.errors">
                        {{ error }}
                    </mat-error>
                </ng-container>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-flat-button type="button" routerLink="/admin/users">Cancel</button>
                <button mat-flat-button color="accent" type="submit" [disabled]="editForm.disabled">Update</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>