<div class="header">
    <h1 class="mat-h1">Users</h1>
    <h3 class="mat-h3">Create user</h3>
</div>

<mat-divider></mat-divider>

<div class="container">
    <form [formGroup]="addForm" (ngSubmit)="add()">
        <mat-card>
            <div class="mat-card-header" *ngIf="isLoading">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <mat-card-content>
                <mat-form-field>
                    <input matInput type="text" placeholder="Name" formControlName="name">
                    <mat-error *ngIf="name.hasError('required')">
                        Name can not be empty
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" placeholder="Email" formControlName="email">
                    <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                        Email is not valid
                    </mat-error>
                    <mat-error *ngIf="email.hasError('required')">
                        Email can not be empty
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [type]="isPasswordHidden ? 'password' : 'text'" placeholder="Password"
                        formControlName="password">
                    <button mat-icon-button matSuffix type='button' (click)="isPasswordHidden = !isPasswordHidden"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isPasswordHidden">
                        <mat-icon>{{isPasswordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="password.hasError('required')">
                        Password can not be empty
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [type]="isPasswordHidden ? 'password' : 'text'" placeholder="Confirm password"
                        formControlName="confirmation">
                    <button mat-icon-button matSuffix type='button' (click)="isPasswordHidden = !isPasswordHidden"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isPasswordHidden">
                        <mat-icon>{{isPasswordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="confirmation.hasError('required')">
                        Confirm password can not be empty
                    </mat-error>
                    <mat-error *ngIf="confirmation.hasError('notEqual')">
                        Confirm password and Password are not equal
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="type">
                        <mat-option [value]="userType.Office">Office</mat-option>
                        <mat-option [value]="userType.Report">Report</mat-option>
                        <mat-option [value]="userType.Admin">Admin</mat-option>
                    </mat-select>
                    <mat-error *ngIf="type.hasError('required')">
                        Type can not be empty
                    </mat-error>
                </mat-form-field>
                <mat-form-field [style.display]="this.type.value == userType.Office ? 'block' : 'none'">
                    <mat-label>Office</mat-label>
                    <mat-select formControlName="office">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let office of offices" [value]="office.id">{{office.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <ng-container *ngIf="badRequest">
                    <mat-error *ngFor="let error of badRequest.errors">
                        {{ error }}
                    </mat-error>
                </ng-container>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-flat-button type="button" routerLink="/admin/users">Cancel</button>
                <button mat-flat-button color="accent" type="submit" [disabled]="addForm.disabled">Create</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>