<div class="header">
    <h1 class="mat-h1">Sources</h1>
    <mat-chip-list selectable="false" *ngIf="count">
        <mat-chip color="accent" selected>{{count}}</mat-chip>
    </mat-chip-list>
    <span class="fill-remaining-space"></span>
    <button mat-raised-button color="accent" type="button" routerLink="add">Create</button>
</div>

<mat-divider></mat-divider>

<div class="container mat-elevation-z1">
    <div class="table">
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
        <mat-table [dataSource]="dataSource" class="mat-elevation-z0" matSort [matSortActive]="model.orderBy"
            [matSortDirection]="model.isAscending ? 'asc' : 'desc'" matSortDisableClear
            (matSortChange)="onSortChange($event)">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name </mat-header-cell>
                <mat-cell *matCellDef="let source"> {{source.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="created">
                <mat-header-cell *matHeaderCellDef mat-sort-header="created"> Created </mat-header-cell>
                <mat-cell *matCellDef="let source"> {{source.created | date: 'MM/dd/yyyy h:mm:ss a'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let source">
                    <button mat-flat-button color="accent" class="icon-button" [routerLink]="[source.id]">
                        <mat-icon>create</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
    <mat-paginator #paginator [length]="total" [pageSize]="model.pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)">
    </mat-paginator>
</div>