:host {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.mat-form-field {
    width: 100%;
}

.sales-today-container {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #f4511e;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.sale-container {
    display: flex;
    width: 100%;
    height: 100%;
   
    flex-direction: column;
    justify-content: center;
    padding: 30px 50px; 

    
}

.report-button {
    float: right;
}

.mat-h1 {
    margin-top: 16px
}

.mat-h3 {
    margin-top: 16px
}

.sales-today {
    & > span {
        font-size: 12vw;
        color: white;
        text-shadow: #0000005e 0px 20px 5px;
        font-weight: bold;
    }

    text-align: center;

    & > div {
        margin-top: 30px;
        color: white;
    }

}

.office-name {
    & > span {
        font-size: 5.3vw;
        color: #000000a8;
        font-weight: 100;
    }

    text-align: center;

    & > div {
        margin-top: 30px;
        color: #f4511e;
        padding-left: 10px;
        padding-right: 10px;
    }

}

.manager-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
