<div *ngIf="isLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<mat-grid-list cols="3" rowHeight="fit" gutterSize="4">
    <mat-grid-tile>
        <div class="manager-container">
            <div class="office-name">
                <span>
                    {{officeName}}
                </span>
                <div>
                    <h1>Welcome, {{userName}}</h1>
                </div>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="sale-container">
            <h1 class="mat-h1">
                Report a Sale
            </h1>
            <mat-divider class="devider"></mat-divider>
            <h3 class="mat-h3">
                Health Plan Through Verification / Primary NA
            </h3>
            <mat-divider class="devider"></mat-divider>
            <form [formGroup]="addForm" (ngSubmit)="add()">
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Phone</mat-label>
                        <!-- <input type="tel" matInput placeholder="phone" formControlName="phone"> -->
                        <input type="tel" id="tel" matInput class="form-control" phoneMask
                            [preValue]="addForm.value.phone" [phoneControl]="addForm.controls['phone']"
                            formControlName="phone" maxlength="14">
                        <mat-error *ngIf="phone.hasError('required')">
                            Phone can not be empty
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email">
                        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="email.hasError('required')">
                            Email can not be empty
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>State</mat-label>
                        <mat-select formControlName="state">
                            <mat-option *ngFor="let state of states" [value]="state.id">
                                {{state.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="state.hasError('required')">
                            State can not be empty
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Source</mat-label>
                        <mat-select formControlName="source">
                            <mat-option *ngFor="let source of sources" [value]="source.id">
                                {{source.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="source.hasError('required')">
                            Source can not be empty
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-flat-button class="report-button" color="accent" type="submit">Report</button>
                </div>
            </form>
            <ng-container *ngIf="badRequest">
                <mat-error *ngFor="let error of badRequest.errors">
                    {{ error }}
                </mat-error>
            </ng-container>
        </div>
    </mat-grid-tile>

    <mat-grid-tile color="accent">
        <div class="sales-today-container">
            <div class="sales-today">
                <span>
                    {{salesToday}}
                </span>
                <div>
                    <h1>Sales Today</h1>
                </div>
                <div>
                    <h3>Sale: {{salesToday}}</h3>
                </div>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>