:host {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 16px;

    & > *:not(:last-child) {
        margin-right: 16px;
    }
}

.mat-h1 {
    margin: 0;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.mat-divider {
    padding-bottom: 16px;
}

.icon-button {
    padding: 0;
    min-width: 36px;
}

.mat-column-action {
    max-width: 36px;
}

.container {
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.table {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    border-radius: 4px;

    & > .mat-progress-bar {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        z-index: 101;
    }
}

.mat-table {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    position: absolute;
}

.filter-container {
    display: flex;

    & > * {
        flex-grow: 1;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }
    
}

.filters {
    margin-bottom: 10px;
}