<div class="header">
    <h1 class="mat-h1">Users</h1>
    <h3 class="mat-h3">Change password for {{ user.name }}</h3>
</div>

<mat-divider></mat-divider>

<div class="container">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <mat-card>
            <div class="mat-card-header" *ngIf="isLoading">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <mat-card-content>
                <mat-form-field>
                    <input matInput [type]="isPasswordHidden ? 'password' : 'text'" placeholder="New password"
                        formControlName="password">
                    <button mat-icon-button matSuffix type='button' (click)="isPasswordHidden = !isPasswordHidden"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isPasswordHidden">
                        <mat-icon>{{isPasswordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="password.hasError('required')">
                        New password can not be empty
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [type]="isPasswordHidden ? 'password' : 'text'" placeholder="Confirm new password"
                        formControlName="confirmation">
                    <button mat-icon-button matSuffix type='button' (click)="isPasswordHidden = !isPasswordHidden"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isPasswordHidden">
                        <mat-icon>{{isPasswordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="confirmation.hasError('required')">
                        Confirm new password can not be empty
                    </mat-error>
                    <mat-error *ngIf="confirmation.hasError('notEqual')">
                        Confirm new password and New password are not equal
                    </mat-error>
                </mat-form-field>
                <ng-container *ngIf="badRequest">
                    <mat-error *ngFor="let error of badRequest.errors">
                        {{ error }}
                    </mat-error>
                </ng-container>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-flat-button type="button" routerLink="/admin/users">Cancel</button>
                <button mat-flat-button color="accent" type="submit" [disabled]="changePasswordForm.disabled">Change Password</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>