// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$mat-theme-ignore-duplication-warnings: true;

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ASTClient-primary: mat-palette($mat-indigo, 900);
$ASTClient-accent: mat-palette($mat-deep-orange, 600);

// The warn palette is optional (defaults to red).
$ASTClient-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ASTClient-theme: mat-light-theme(
  (
    color: (
      primary: $ASTClient-primary,
      accent: $ASTClient-accent,
      warn: $ASTClient-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ASTClient-theme);

// Define the theme.
$ASTClient-theme-dark: mat-dark-theme(
  (
    color: (
      primary: $ASTClient-primary,
      accent: $ASTClient-accent,
      warn: $ASTClient-warn,
    ),
  )
);

// Include the theme styles for only specified components.
@include mat-list-theme($ASTClient-theme-dark);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  display: flex;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
}

@import "scss/mat-toolbar";
@import "scss/mat-drawer";
@import "scss/mat-grid-list";
@import "scss/mat-card";
