<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened class="mat-elevation-z2">
        <mat-nav-list>
            <a mat-list-item routerLink="/admin/sales" routerLinkActive='active'> Sales </a>
            <a mat-list-item routerLink="/admin/offices"> Offices </a>
            <a mat-list-item routerLink="/admin/sources"> Sources </a>
            <a mat-list-item routerLink="/admin/users"> Users </a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>