:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.mat-menu-label {
  padding: 0 16px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fill-remaining-space {
  flex: 1 1 auto;
}
