<mat-toolbar color="primary" class="mat-elevation-z4">
  <span>{{title}}</span>
  <span class="fill-remaining-space"></span>
  <ng-container *ngIf="authService.isSignedIn()">
    <button mat-flat-button color="primary" [matMenuTriggerFor]="accountActionsMenu">{{authService.getName()}}</button>
    <mat-menu #accountActionsMenu="matMenu" xPosition="before">
      <div class="mat-hint mat-menu-label">{{authService.getEmail()}}</div>
      <button mat-menu-item (click)="authService.signout()">Sign Out</button>
    </mat-menu>
  </ng-container>
</mat-toolbar>

<router-outlet></router-outlet>