<div class="header">
    <h1 class="mat-h1">Office: {{office.name}}</h1>
    <span class="fill-remaining-space"></span>
    <button mat-raised-button color="accent" type="button" routerLink="edit">Edit</button>
    <button mat-raised-button color="accent" type="button" routerLink="sources">Sources</button>
</div>

<mat-divider></mat-divider>

<div class="container">
    <mat-card>
        <mat-card-content>
            <div>
                <label class="mat-hint">Name:</label>
                {{office.name}}
            </div>
            <mat-divider></mat-divider>
            <div>
                <label class="mat-hint">User:</label>
                {{office.user}}
            </div>
            <mat-divider></mat-divider>
            <div>
                <label class="mat-hint">Created:</label>
                {{office.created | date: 'MM/dd/yyyy h:mm:ss a'}}
            </div>
            <mat-divider></mat-divider>
            <div>
                <label class="mat-hint">Updated:</label>
                {{office.updated | date: 'MM/dd/yyyy h:mm:ss a'}}
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-flat-button type="button" routerLink="/admin/offices">Cancel</button>
        </mat-card-actions>
    </mat-card>
</div>