:host {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 16px;

    & > *:not(:last-child) {
        margin-right: 16px;
    }
}

.mat-h1 {
    margin: 0;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.mat-divider {
    padding-bottom: 16px;
}

.container {
    max-width: 500px;
}

.mat-card-content > div {
    &:not(:first-child)
    {
        padding-top: 16px;
    }

    &:not(:last-child)
    {
        padding-bottom: 16px;
    }
}