<div class="header">
    <h1 class="mat-h1">Offices</h1>
    <h3 class="mat-h3">Sources of {{ office.name }}</h3>
</div>

<mat-divider></mat-divider>

<div class="container">
    <mat-card>
        <div class="mat-card-header" *ngIf="isLoading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <mat-card-content>
            <mat-checkbox *ngFor="let source of sources" [checked]="isSelected(source)" [disabled]="isLoading"
                (change)="select(source)">
                {{ source.name }}
            </mat-checkbox>
            <ng-container *ngIf="badRequest">
                <mat-error *ngFor="let error of badRequest.errors">
                    {{ error }}
                </mat-error>
            </ng-container>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-flat-button type="button" [routerLink]="'/admin/offices/' + id">Cancel</button>
            <button mat-flat-button color="accent" type="submit" [disabled]="isLoading" (click)="update()">Update</button>
        </mat-card-actions>
    </mat-card>
</div>