<div class="container" [style.width]="containerStyleWidth" [style.margin-right]="negativeItemStyleWidth">
    <div class="item mat-display-2" @items [style.width]="itemStyleWidth" *ngFor="let office of data">
        {{office.name}}: {{office.sales}}</div>
</div>